### Daum Exchange
- `https://finance.daum.net`

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import requests

In [2]:
url = "https://finance.daum.net/api/exchanges/summaries"
headers = {
    "user-agent": "user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
    "referer": "https://finance.daum.net/exchanges",
}
response = requests.get(url, headers=headers)
response

In [3]:
data = response.json()["data"]
df = pd.DataFrame(data)
df.head(1)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,...,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
0,FRX.KRWUSD,2023-08-29 09:12:56,USD,달러,1,미국,"{'korName': '아메리카', 'engName': 'America'}",미국 (USD/KRW),41,1322.7,...,0.002865,1345.84,1299.56,1309.8,1335.6,None,None,7.1837,1.0,{'day': 'https://t1.daumcdn.net/finance/chart/...

In [4]:
columns = ["date", "currencyCode", "currencyName", "country", "name", "basePrice"]
df[columns].head()

,date,currencyCode,currencyName,country,name,basePrice
0,2023-08-29 09:12:56,USD,달러,미국,미국 (USD/KRW),1322.70
1,2023-08-29 09:12:56,JPY,엔,일본,일본 (JPY100/KRW),903.95
2,2023-08-29 09:12:56,CNY,위안,중국,중국 (CNY/KRW),181.42
3,2023-08-29 09:12:56,EUR,유로,유로,유로 (EUR/KRW),1432.62
4,2023-08-29 09:12:56,GBP,파운드,영국,영국 (GBP/KRW),1669.12