# 데이터 선택(loc)
-> 이름을 이용해서 원하는 row에서 원하는 column을 선택하는 것이다.

-> loc는 인덱스를 이용한 데이터 선택, iloc는 행번호를 이용한 인덱스 선택

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col= '지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [2]:
df.loc['2번'] # 2번 인덱스에 해당하는 row 데이터를 불러옴

이름       정대만
학교       북산고
키        184
국어        40
영어        35
수학        50
과학        55
사회        25
SW특기    Java
Name: 2번, dtype: object

In [4]:
df.iloc[3] # iloc는 행번호를 이용해 row데이터를 불러옴

이름      서태웅
학교      북산고
키       187
국어       40
영어       60
수학       70
과학       75
사회       80
SW특기    NaN
Name: 4번, dtype: object

In [5]:
df.loc['5번'] # 인덱스 5번에 해당하는 데이터를 가져옴

이름      강백호
학교      북산고
키       188
국어       15
영어       20
수학       10
과학       35
사회       10
SW특기    NaN
Name: 5번, dtype: object

In [7]:
df.loc['1번','영어'] # 1번 학생의 영어성적만 가져오고 싶음. df.loc[인덱스, 컬럼명]

85

In [8]:
df.loc[['1번','2번'],'영어'] # 두 개 이상의 인덱스를 가지고 오고 싶으면 대괄호를 하나 더 적어주면 된다.
# 1번과 2번의 영어성적을 가지고 오는 데이터 이다.

지원번호
1번    85
2번    35
Name: 영어, dtype: int64

In [9]:
df.loc[['1번','2번'],['영어','수학']] # 인덱스 1번과 2번의 영어와 수학 점수를 가지고 옴

      영어   수학
지원번호
1번    85  100
2번    35   50

In [13]:
df.loc['1번':'5번','국어':'수학'] # 1번 인덱싱부터 5번 인덱싱까지의 국어, 영어, 수학 점수를 슬라이싱을 통해 가지고 옴 
# 특이점: 보통 인덱싱은 마지막을 포함하지 않는데, loc인덱싱은 마지막을 포함해서 나옴(5번을 포함해 나옴)

      국어  영어   수학
지원번호
1번    90  85  100
2번    40  35   50
3번    80  75   70
4번    40  60   70
5번    15  20   10